*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: yellow;
    background-color: black;
    /* align-items: center; */
    margin-top: 10px;

}
.remove-style{
    /* remove list title dot symbol */
    list-style: none;
}
*{
    text-decoration: none;
}

.body{
    /* background-color:black; */

    /* font-family:sans-serif ; */
    height: 100vh;
    /* font-size: 40px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: rgb(189, 119, 27); */

}
body h1{
    align-items: center;
    font-size: 50px;
    margin-left: 50rem;
    margin-left: 4rem;
    margin-top: 30px;


}
.header{
    /* border: 1px solid black; */
    height:90px;
}
.navbar{
    height: 10%;
    width: 100%;
    padding: 10px 28px;
}
.navbar ul{
    /* jemit 3 ta janka thila semit achhi */
    height: 100%;
/* 1 line re separe hela */
    display: flex;
    /* se line end site ku asila */
    justify-content: flex-end;
    align-items: center;
    margin-top: -55px;
}

.navbar ul li{
    margin-left: 15px;
}
.navbar ul li a{
    color:yellow;
}
.link:hover{
    text-decoration: underline;
}
.navbar{
    margin-top: -20px;
    font-size: 18px;
}

/* .content-section{
    border: 1px solid red ;
} */
.content-section h1{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 60px;
    margin-top:60px;
    color: white;
    font-size: 40px;
    margin-right: 35rem;

}
.content-section h4{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    color:white;
    font-size: 25px;
    margin-right: 35rem;
    
}
.image{
    margin-left: 800px;
    width:300px;
    margin-top: -10rem;    
}
