* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: yellow;
    background-color: black;
    margin-top: 10px;
}

.remove-style {
    list-style: none;
}

* {
    text-decoration: none;
}

.body {
    height: 100vh;
}

body h1 {
    align-items: center;
    font-size: 50px;
    margin-left: 50rem;
    margin-left: 4rem;
    margin-top: 30px;
}

.header {
    height: 90px;
}

.navbar {
    height: 10%;
    width: 100%;
    padding: 10px 28px;
}

.navbar ul {
    height: 100%;
    display: flex;
    /* se line end site ku asila */
    justify-content: flex-end;
    align-items: center;
    margin-top: -55px;
}

.navbar ul li {
    margin-left: 15px;
}

.navbar ul li a {
    color: yellow;
}

.link:hover {
    text-decoration: underline;
}

.navbar {
    margin-top: -20px;
    font-size: 18px;
}

.content-section h1 {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 60px;
    color: white;
    font-size: 40px;
    margin-right: 35rem;
}

.content-section h4 {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin-right: 35rem;
}

.image {
    margin-left: 800px;
    width: 300px;
    margin-top: -10rem;
}

@media(max-width:584px) {
    .navbar{
        max-width: 100%;
    }
}